export default {
  title: "Camp Konewago",
  description:
    "Wireframe Version of the Camp Konewago website",
  openGraph: {
    type: "website",
    locale: "en_IE",
    url: "https://konewago-wireframe.vercel.app/",
    site_name: "Camp Konewago 2021",
  },
  twitter: {
    handle: "@jayfallon",
    site: "@jayfallon",
    cardType: "summary_large_image",
  },
};
